* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #FAFAFA;
    ;

}

.header {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}

.header_logo {
    margin-left: 373px;
    /* display: flex;
    justify-content: center; */
    gap: 14px;
}

.header_links {

    margin-left: 30px;
    width: 730px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    gap: 25px;

    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.features_with {
    padding-left: 25px;
    padding-right: 25px;
    width: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-end;
    align-items: baseline;

}

.header_links_red {

    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.page {
    margin-top: 94px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: flex-start;

}

.page_all_text {}

.page_text_right_1 {
    width: 522px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page_text_right_2 {
    padding-top: 17px;
    width: 466px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_with {
    display: flex;
    flex-direction: row;

    justify-content: first baseline;
    align-self: center;

}

.orange_button {
    margin-top: 50px;

    width: 140px;
    height: 50px;
    padding-left: 0px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.buttons {
    margin-top: -35px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;

}

.button_1_text {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_2 {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    margin-top: 240px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
}

.middle__content {
    margin: 240px;
}

.middle__content_upper {
    margin-left: 70px;
    display: grid;
    grid-template-columns: 310px 90px 310px 59px 310px 1fr;

}

.middle__content_upper_mod1 {
    grid-column: 1/span 1;
}

.middle__content_upper_mod2 {
    grid-column: 3/span 1;
}

.middle__content_upper_mod3 {
    grid-column: 5/span 1;
}


.middle__content_upper_mod1_h3 {
    padding-top: 25px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.middle__content_upper_mod2 {
    background: #FFF;
}


.middle__content_upper_mod1_p {
    width: 310px;
    padding-top: 17px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

.middle__content_upper_mod1_h5 {
    padding-top: 25px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 16.5px */
}

.middle__content_main_uppertext {
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.middle__content_main_uppertext_1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.middle__content_main_uppertext_2 {
    width: 682px;
    padding-top: 19px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.middle__content_main_base_mod1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle__content_main_base {
    margin-top: 54px;
}

.middle__content_main_base_mod1_upper_text {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.middle__content_main_base_mod1_lower_text {
    padding-top: 22px;
    width: 310px;
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

.button_start_now {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.orange_button_start {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 50px;
    padding-left: 0px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.middle__content_main_base {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: first baseline;
    gap: 30px;
}

.middle__content_main_base_mod1 {
    background: #FFF;
}